<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Game Platform</h1>
        <p class="lead"></p>
        <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Features:</h1>
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
                <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
            </ul>
            <select class="form-control dropdown" name="game" ng-model="main.selectedGame"
                    ng-options="game.name for game in main.availableGames track by game._id"></select>
            <div>Action: 
                <select ng-model="main.action">
                    <option>init</option>    
                    <option>spin</option>    
                    <option>deal</option>    
                    <option>draw</option>    
                </select>
            </div>
            <div>
                Bet <select ng-model="main.bet">
                    <option>10</option>    
                    <option>20</option>
                    <option>30</option>
                </select>
            </div>
            <button ng-click="main.getGameResponse()">Get Game Response</button>
            <div>{{main.gameResponse| json }}</div> 

        </div>
    </div>
</div>
